{
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "useTabs": false,
  "bracketSpacing": true,
  "semi": false,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "printWidth": 80,
  "rangeEnd": 0,
  "embeddedLanguageFormatting": "auto"
}
